extends app

block content
    .col-md-12
        h1 Tired Admin 
        ul.list-group
            each collection in collections
                a.list-group-item(href='/collection/#{collection}') #{collection}

